$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background-color: #000000;
  margin: 0;
  overflow: hidden;
  perspective: 5500px;
}

h1 {
  padding-top: 0px;
  font-size: 80px;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
}

* {
  font-family: 'Just Me Again Down Here', cursive;
}
